body {
  font-family: Inter, sans-serif;
}

h1 {
  margin: 40px 0 40px 100px;
  font-size: 32px;
  font-weight: 700;
}

.input-section {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.expenses-input {
  width: 484px;
  height: 58px;
  display: block;
  box-sizing: border-box;
  font-size: 32px;
}

.add-button {
  width: 370px;
  height: 58px;
  display: block;
  box-sizing: border-box;
  background-color: #0094ff;
  font-size: 32px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.add-button:hover {
  opacity: 0.6;
}

.expenses-output-section {
  margin: 40px 0 0 100px;
  display: flex;
  flex-direction: row;
  gap: 213px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

.expenses-history,
.expenses-limit,
.expenses-sum,
.expenses-status {
  font-size: 32px;
  font-weight: 700;
}

.expenses-limit {
  margin-bottom: 20px;
}
.expenses-sum {
  margin-bottom: 40px;
}

.limit,
.total,
.status,
.expenses-history {
  font-weight: 400;
}

.limit,
.total,
.status {
  display: inline;
}

.status {
  color: #32cd32;
}

.status_red {
  color: red;
}
