body {
  font-family: Ubuntu, sans-serif;
  background: #778899;
}

h1 {
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.expenses-input {
  width: 300px;
  height: 40px;
}

.add-expenses-button {
  width: 80px;
  height: 40px;
}

ol {
  padding-inline-start: 32px;
  font-size: 32px;
}
