body {
  font-family: Inter, sans-serif;
}

h1 {
  margin: 40px 0 40px 100px;
  font-size: 32px;
  font-weight: 700;
}

.label {
  font-weight: 700;
}

.rub::after {
  content: "руб.";
}

.expenses {
  margin-left: 100px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.expensesInput {
  width: 484px;
}

.moneyInput {
  height: 58px;
  width: 100%;
  display: flex;
  padding: 10px 17px 9px 22px;
  font-size: 32px;
  align-items: center;
  border: 1px solid black;
}

.moneyInput__input {
  width: 100%;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.moneyInput__input:focus-visible {
  outline: none;
}

.add-button {
  width: 370px;
  height: 58px;
  display: block;
  background-color: #0094ff;
  font-size: 32px;
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.add-button:hover {
  opacity: 0.6;
}

.stats {
  width: 484px;
}

.stats__limit {
  font-size: 32px;
}

.stats__total {
  margin-top: 13px;
  font-size: 32px;
}

.stats__status {
  margin-top: 35px;
  font-size: 32px;
}

.history {
  width: 370px;
}

.history__status {
  font-size: 32px;
}
